@import "tailwindcss";

/* .active{
    background-color: rgb(56, 144, 239);
    color: white;
    padding: 10px 20px;
    margin-bottom: 5px;
}
.inActive{
    padding: 10px 20px;
    margin-bottom: 5px;

} */
